{% assign by_categories = site.docs | group_by: 'category' | sort: 'name', 'first' %}
{% for category in by_categories %}
  {% assign by_subcats = category.items | group_by: 'subcategory' | sort: 'name', 'first' %}
  {% if category.name != "" %}
<div class="list-group">
  <a href="/docs/{{ category.name | downcase }}/" class="list-group-item list-group-item-action active">
    {{ category.name }}
  </a>
  {% for subcategory in by_subcats %}
    {% if subcategory.name != "" %}
      {% assign item_url = subcategory.name | prepend: "/" | prepend: category.name | prepend:"/docs/" | append:"/" | downcase %}
  <a href="{{ item_url  | prepend: site.baseurl }}" class="list-group-item list-group-item-action">{{ subcategory.name }}</a>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endfor %}
