<header>
  
  {{ partial "header.html" . }}
  
  {{- with .Site.Menus.shortcuts}}
    <nav class="shortcuts">
        {{- range sort . "Weight"}}
            <li class="" role="">
                <a href="{{.Permalink}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                  {{safeHTML .Name}}
                </a>
            </li>
        {{- end}}
    </nav>
  {{- end}}
</header>
<article>
  <aside class="menu">
      {{- partial "menu.html" . }}
  </aside>
  <section class="page">

    {{if not .IsHome}}<h1>{{.Title}}</h1>{{end}}