header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $color-primary-light;
    color: $color-foreground;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5rem;
    left: 0;
    line-height: 3.5rem;
    margin-bottom: .35rem;
    padding: 0 2rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    border-bottom: 5px $color-secondary solid;

    a {
        text-decoration: none
    }

    .logo {
        flex: auto;
        font-size: 24px;
        *{
            vertical-align: middle;
        }

        img {
            height: 32px;
            margin-right: 0.5rem;
        }
    }

    .navbar-right {
        flex: auto;
        margin-right: -15px;
        text-align: right;

        form {
            direction: rtl;
            input {
                color: #ccc;
                border: 1px solid transparent;
                border-radius: 0;
                margin: 0;
                height: 2.5rem;
                width: 20rem;
            }
        }
    }
}