article > aside.toc {
    width: $toc-width;
    left: auto;
	right: 0;
    position: fixed;
    bottom: 0;
    overflow: auto;
    top: 3.5rem;

    & > nav > ul > li > a {
    	font-weight: bold; 
    }

    li {
        font-size: 13px;
	    padding-left: 1rem;
	    list-style: none;

	    a:hover {
	    	color: $color-secondary;
	    }
    }
}
