---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">
              {% if page.subcategory %}
                {% assign by_subcats = site.docs | where:"subcategory",page.subcategory | group_by: 'subcategory' | sort: 'name', 'first' %}
              {% else %}
                {% assign isCategoryPage = true %}
                {% assign by_subcats = site.docs | where:"category",page.category | group_by: 'subcategory' | sort: 'name', 'first' %}
              {% endif %}
              <ul>
              {% for subcat in by_subcats %}
                {% if isCategoryPage and subcat.name != "" %}
                <li><h3>{{ subcat.name }}</h3>
                  <ul>
                {% endif %}

        				{% for item in subcat.items %}
                  {% unless item.permalink %}
        					   <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endunless %}
        				{% endfor %}

                {% if isCategoryPage and subcat.name != "" %}
          				</ul>
                </li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
            {% comment %}
            <p class="text-center">
              <br />
              <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
                <i class="fa fa-pencil fa-lg"></i> Improve this page
              </a>
            </p>
            {% endcomment %}
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
